body{
	background-color: #eceff1;
}

/*#logo{
	margin: auto;
	display: block;
	vertical-align: middle;
}

#logo-container{
	height:100em;
	margin: auto;
	vertical-align: middle;
	text-align: center;
}*/
